.carousel-container {
    padding-top: 30px;

    .carousel-container-title {
        text-align: left;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        padding-left: 10px;

    }

    .carousel-cards {
        background-color: #111;
        padding: 15px 0;
        width: 100%;
    }


}