.carousel-container{
    h3{
        text-align: left;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        padding: 10px;
    }
    .carousel-cards{
        background-color: #111;
        padding: 20px 0;
    }
    

}
