@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .topnav {
    overflow: hidden;
    background-color: rgba(22, 22, 22, 1);
    display: inline;

    .logo-container{
      float: left;
      padding-right: 30px;
      padding-left: 15px;

      height: 50px;
      width: 50px;
      display: inline-block;

      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


    .navbar-link {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;


      &:hover  {
        background-color: #ddd;
        color: black;
      }


      &.active {
        color: white;
        font-weight: 600;
      }
    }

  }

